### 2021-01-09

https://leetcode.com/problems/calculate-money-in-leetcode-bank/

In [8]:
def totalMoney(n):
    """
    :type n: int
    :rtype: int
    """
    total = 0
    for i in range(n):
        base = i // 7
        residual = i%7 + 1
        total += base + residual
        #print(i, base, residual, total)
    return total

In [9]:
totalMoney(4)

0 0 1 1
1 0 2 3
2 0 3 6
3 0 4 10

10

In [10]:
totalMoney(10)

0 0 1 1
1 0 2 3
2 0 3 6
3 0 4 10
4 0 5 15
5 0 6 21
6 0 7 28
7 1 1 30
8 1 2 33
9 1 3 37

37

In [11]:
totalMoney(20)

0 0 1 1
1 0 2 3
2 0 3 6
3 0 4 10
4 0 5 15
5 0 6 21
6 0 7 28
7 1 1 30
8 1 2 33
9 1 3 37
10 1 4 42
11 1 5 48
12 1 6 55
13 1 7 63
14 2 1 66
15 2 2 70
16 2 3 75
17 2 4 81
18 2 5 88
19 2 6 96

96